
h1 {
  margin-block-start: 0;
  /* text-shadow: 0 20px 12px #000; */
  margin-top: 0;
  font-weight: 100;
}

.header-bg {
  background-color: white;
  height: 55%;
  text-align: left;
  letter-spacing: 0.9vw;
  font-size: 5vw;
  line-height: 11vw;
  padding-top: 10vw;
  padding-left: 10vw;
  /* text-transform: capitalize; */
}

@media only screen and (max-width: 360px) {
  .header-bg {
    height: 25%;
  }
/*
  h1 {
    line-height: 24vw;
  }

  #about-header {
    font-family: 'Major Mono Display', monospace;
    font-size: 6vw;
    font-weight: bold;
    line-height: 10vw;
    margin-top: -8vw;
    letter-spacing: -0.34vw;
    color: #240090; 
  }*/
}