
h1 {
  margin-block-start: 0;
  text-shadow: 0 20px 12px #000;
  margin-top: -3vw;
  letter-spacing: 0.9vw;
  font-size: 21vw;
  line-height: 22vw;
  font-weight: 100;
}

.header-bg {
  background-color: #181616;
  height: 100%;
  font-size: 21vw;
}

.about {
  line-height: 7vw;
  font-family: 'Major Mono Display', monospace;
}

#about-header {
  font-family: 'Major Mono Display', monospace;
  font-size: 2.8vw;
  font-weight: bold;
  line-height: 6vw;
  margin-top: -8vw;
  letter-spacing: -0.34vw;
  color: #240090;
}

#line2 {
  letter-spacing: 1.52vw;
}

#line3 {
  letter-spacing: -0.23vw;
}

#h-h1-hero {
  transform: translate3d(0px, 0px, 0px);
}

@media only screen and (max-width: 360px) {

  h1 {
    margin-top: 3vw;
    letter-spacing: 3.25vw;
    font-size: 30vw;
    line-height: 16vw;
    font-weight: 100;
  }

  #about-header {
    font-family: 'Major Mono Display', monospace;
    font-size: 6vw;
    font-weight: bold;
    line-height: 10vw;
    margin-top: -8vw;
    letter-spacing: -0.34vw;
    color: #240090;
  }
}