
.about {
    line-height: 4vw;
    font-family: 'Major Mono Display', monospace;
    margin-bottom: 10vw;
    margin-top: -3vw;
    background-color: white;

  }
  
  #about-header {
    font-family: 'Major Mono Display', monospace;
    font-size: 3vw;
    font-weight: bold;
    line-height: 4vw;
    color: #240090;
  }

  .about-me {
    padding-top: 4vw;
    color: #240090;
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    width: 80vw;
    font-size: 3vw;
    padding-left: 15vw;
    letter-spacing: .1vw;
    text-align: left;
  }
  
  #line2 {
    letter-spacing: 1.52vw;
  }
  
  #line3 {
    letter-spacing: -0.23vw;
  }
  
  #h-h1-hero {
    transform: translate3d(0px, 0px, 0px);
  }