.form-wrapper { 
    font-family: 'Major Mono Display', monospace;
    max-width: 100%;
    border-radius: 5px;
    background-color: #f5f3ef;
    padding: 20px;
    margin-top: 20vw;
    margin-left: auto;
    margin-right: auto;
}
.form-heading {
    /* color: #525252; */
    color: #240090;
    font-size: 3vw;
    letter-spacing: .6vw;
    padding-bottom: 30px;
}

label {
    font-size: 3vw;
    letter-spacing: .6vw;
}

form {
    margin: 0 auto;
    text-align: left;
    width: 60%
}
input[type=text], select, textarea {
width: 100%;
padding: 12px;
border: 1px solid #eeebe7;
border-radius: 4px;
-webkit-box-sizing: border-box;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
background-color: #eeebe7;
font-family: 'MADE SAONARA 2 PERSONAL USE.otf';
font-size: 2vw;
letter-spacing: .25vw;
}
