

.footer-icons {
    font-size: 7vw;
    // color: #4B0082;
    color: #240090;
    border-top: 9px solid #3500D3;
    padding-top: 10vw;
}

a {
    color: none;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

i {
    text-shadow: 0px 8px 7px #000;
    padding-right: 2vw;
}

@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (max-width: 480px) {
    #footer {
        margin-top: 525%;
    }

    .footer-icons {
        font-size: 18vw;
        padding-top: 35vw;

    }
}