

.footer-icons {
    font-size: 7vw;
    color: #4B0082;
    border-top: 6px solid #f7c445;
    padding-top: 10vw;
}

i {
    text-shadow: 0px 8px 7px #000;
}

#github-icon {
    padding-right: 4vw;
}

#email-icon {
    padding-left: 4vw;
}