

.footer-icons {
    font-size: 70px;
    color: #4B0082;
    border-top: 3px solid #f7c445;
    padding-top: 80px;
}

i {
    text-shadow: 0 0 12px #000;
}

#github-icon {
    padding-right: 40px;
}

#email-icon {
    padding-left: 40px;
}