.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    overflow-y: hidden;
    background-color: '#2B2B2B';
  }

  .gridList {
    width: 900px;
    height: 550px;
    overflow-y: hidden;
  }

  .GridListTile {
    margin-top: 8px;
    box-shadow: '5px 5px 5px red';
  }
  img {
    margin-left: 10px;
  }