* {
  box-sizing: border-box;
}

html, body, #root {
  padding: 0;
  margin: 0;
  /* height: 100%; */
  background-color: #181616;
}

html {
  scroll-behavior: smooth;
}

#root {
  position:absolute;
  height:100%;
  width:100%;
}


.row {
  margin-right: 0px;
  margin-left: 35px;
}

